.outline-0 {
    outline: 0 !important;
}


// RADIUS

.rounded-4 {
    border-radius: 0.35rem !important;
}

.rounded-5 {
    border-radius: 0.4rem !important;
}

.rounded-6 {
    border-radius: 0.45rem !important;
}

.rounded-7 {
    border-radius: 0.5rem !important;
}

.rounded-8 {
    border-radius: 0.55rem !important;
}

.rounded-9 {
    border-radius: 0.6rem !important;
}

.rounded-10 {
    border-radius: 0.65rem !important;
}

.rounded-bot-end-1 {
    border-bottom-right-radius: 0.2rem !important;
}

.rounded-bot-end-2 {
    border-bottom-right-radius: 0.25rem !important;
}

.rounded-bot-end-3 {
    border-bottom-right-radius: 0.3rem !important;
}

.rounded-bot-end-3 {
    border-bottom-right-radius: 0.35rem !important;
}

.rounded-bot-end-4 {
    border-bottom-right-radius: 0.35rem !important;
}

.rounded-bot-end-5 {
    border-bottom-right-radius: 0.4rem !important;
}

.rounded-bot-end-6 {
    border-bottom-right-radius: 0.45rem !important;
}

.rounded-bot-end-7 {
    border-bottom-right-radius: 0.5rem !important;
}

.rounded-bot-end-8 {
    border-bottom-right-radius: 0.55rem !important;
}

.rounded-bot-end-9 {
    border-bottom-right-radius: 0.6rem !important;
}

.rounded-bot-end-10 {
    border-bottom-right-radius: 0.65rem !important;
}