#mainsec {
    .card-submain {
        height: calc(100vh - (50px + (2 * $s3) + 20px + (2 * $s3) + 26px + (2 * $s5))) !important;
    }
}

#contractsec {
    .card-submain {
        height: calc(100vh - (50px + (2 * $s5) + $s3 + 14px + (18 * $s3))) !important;
        overflow: hidden;
    }
}

#fairmanagementsec {
    .selectApartmentdiv {
		@include breakpoint-xxl-up { width: 80%; }
		@include breakpoint-xl-up { width: 60%; }
		@include breakpoint-lg-up { width: 47%; }
		@include breakpoint-lg { width: 60%; }
		@include breakpoint-md { width: 60%; }
		@include breakpoint-md { width: 60%; }
	}

    .complex-div {
        ul {
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                flex-wrap: nowrap;
                cursor: pointer;
                padding-top: $s1;
                padding-bottom: $s1;

                &:hover {
                    color: $primary !important;
                }
            }
        }
    }

    .partcons {
        min-height: calc(200px - ((4 * $s2) +  (2 * $s3) + 6px));
        overflow-y: auto;
        overflow-x: hidden;

        div {
            ul {
                display: flex !important;
                justify-content: flex-start;
                align-items: start;
                flex-direction: row;
                flex-wrap: wrap;
                
                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: wrap;
                    cursor: pointer;
                    padding-top: $s1;
                    padding-bottom: $s1;
                    font-size: 10px !important;
                    // margin-left: $s2;
                    margin-right: $s2;
                    margin-bottom: $s2;
                    
                    p {
                        font-size: 10px !important;
                    }

                    i {
                        margin-left: $s3;
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
}

#counsellingsec {
    .counselling {
        min-height: calc(100vh - (50px + (2 * $s3) + 20px + (2 * $s3) + 26px + (1.5 * $s5))) !important;
        max-height: calc(100vh - (50px + (2 * $s3) + 20px + (2 * $s3) + 26px + (1.5 * $s5))) !important;
        border-color: $gray-800;

        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: row;
        flex-wrap: nowrap;

        .counselling-left{
            min-width: 250px;
            border-right: 1px solid $gray-800;
            max-height: calc(100vh - (50px + (2 * $s3) + 20px + (2 * $s3) + 26px + (1.5 * $s5) + 1px)) !important;
            min-height: calc(100vh - (50px + (2 * $s3) + 20px + (2 * $s3) + 26px + (1.5 * $s5) + 1px)) !important;

            .counselling-left_top {
                height: 100px;
                border-bottom: 1px solid $gray-800 !important;
                vertical-align: middle;
                display: flex;
                justify-content: space-around;
                align-items: end;
                flex-direction: row;
                flex-wrap: nowrap;
                padding-bottom: $s3;
            }

            .counselling-left_bot {

            
                .chats {
                    border-bottom: 1px solid $gray-800;

                    &:first-of-type {
                        border-bottom: 1px solid $gray-800 !important;
                    }

                    &:not(:first-of-type) {
                        border-bottom: 1px solid $gray-800 !important;
                    }

                    &:last-of-type {
                        border-bottom: 0px solid $gray-800;
                    }

                    &:hover, &.active {
                        background-color: $gray-100;
                    }

                }
            }
        }

        .counselling-right{
            max-height: calc(100vh - (50px + (2 * $s3) + 20px + (2 * $s3) + 26px + (1.5 * $s5))) !important;
            min-height: calc(100vh - (50px + (2 * $s3) + 20px + (2 * $s3) + 26px + (1.5 * $s5))) !important;
            width: 100%;

            .counselling-right_top {
                height: 100px;
                border-bottom: 1px solid $gray-800 !important;
                vertical-align: middle;

                .counselling-right_top-content {
                    height: 100px;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: nowrap;
                }
            }

            .counselling-right_bot {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;

                .messagelist {
                    flex-grow: 2;
                    max-height: calc(100vh - (50px + (2 * $s3) + 42px + (2 * $s3) + 13px + (5 * $s5))) !important;
                    min-height: calc(100vh - (50px + (2 * $s3) + 42px + (2 * $s3) + 13px + (5 * $s5))) !important;
                    padding: $s3;
                    overflow-x: hidden !important;
                    overflow-y: auto !important;

                    width: 100%;
                    display: block;

                    .mgssend {
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;
                        margin-bottom: $s2;

                        .mgssend-content {
                            max-width: 48%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-end;
                            

                            .mgssend-time {
                                text-align: right;
                                padding: 0 $s2;
                                font-size: 12px;
                            }

                            .mgssend-mgs {
                                background-color: $blueGray-200;
                                color: $dark;
                                padding: $s3 $s4;
                                border-radius: $s4;
                                width: auto !important;
                                word-wrap: break-word !important;
                                margin-right: $s2;
                            }
                        }
                    }

                    .mgsread {
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        margin-bottom: $s2;


                        .mgsread-content {
                            max-width: 48%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-end;

                            .mgsread-mgs {
                                border-radius: $s4;
                                background-color: $transparent;
                                border: 1px solid $gray-300;
                                color: $dark;
                                padding: $s3 $s4;
                                width: auto;
                                word-wrap: break-word;
                                margin-left: $s2;
                            }

                            .mgsread-time {
                                text-align: left;
                                padding: 0 $s2;
                                // font-weight: lighter;
                                font-size: 12px;
                            }
                        }

                    }
                }

                .messageform {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top: 1px solid $gray-800;

                    max-height: 76px !important;
                    height: 76px !important;
                    // border: 1px solid red;
                    padding: auto $s4;
                    

                    form {
                        // border: 1px solid red;
                        max-height: 76px !important;
                        height: 76px !important;
                        padding: 0 $s4;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}

#mastersec {
    .card-main {
        min-height: calc(100vh - 50px) !important;
        background: $white !important;
        z-index: 101;

        @include breakpoint-lg-up {
            border-top-left-radius: $s4;
            border-top-right-radius: $s4;
            border-bottom-right-radius: $s4;
        }

        @include breakpoint-lg {
            border-top-left-radius: $s4;
            border-top-right-radius: $s4;
            border-bottom-right-radius: 0;
        }
    }

    .card-main1 {
        height: 4px;
        z-index: 102;
        background-color: $white;
        @include breakpoint-lg-up {
            display: none;
        }

        @include breakpoint-lg {
            display: flex;
        }
    }

    .card-main2 {
        z-index: 101;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
        height: calc(100vh - 50px) !important;

        @include breakpoint-lg-up {
            background: $transparent !important;
        }

        @include breakpoint-lg { 
            border-bottom-right-radius: $s4;
            background: $white !important;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        }
        
        .card-main2-content {
            border-radius: $s4 !important;
            padding: $s5 !important;
            
            @include breakpoint-lg-up {
                // height: calc(100vh - 50px) !important;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
                background: $white !important;
                // border: 1px solid red;
                // height: fit-content !important;
            }
            
            @include breakpoint-lg { 
                background: $transparent !important;
                // height: calc(100vh - 50px) !important;
                box-shadow: none !important;
                // border: 1px solid red;
            }
        }
    }
    
}