#login_main {
    #login_page {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: calc(100vh - 100px) !important;

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .login_avatar {
                height: 120px;
                width: 120px;
                margin-bottom: -60px;
                z-index: 3;

                i {
                    font-size: 60px;
                }
            }

            .login_inputs {
                // border: 1px solid red;
                z-index: 2;
                width: 460px;
                padding-top: 100px;
                padding-bottom: 60px;
                padding-left: 60px;
                padding-right: 60px;
                border-radius: 60px;

                #login_username {
                    width: 290px; 
                }

                #login_password {
                    width: 246px; 
                }

                #password_toggle {
                    cursor: pointer;
                    width: 44px; 
                }
            }

            .login_button {
                z-index: 1;
                // margin-top: -1px;
                width: 70%;
                text-align: center;
                
                button {
                    width: 70%;
                    padding: 10px 30px;
                    // border-radius: 20px !important;
                    border-top-left-radius: 0px !important;
                    border-top-right-radius: 0px !important;
                    border-bottom-left-radius: 20px !important;
                    border-bottom-right-radius: 20px !important;
                }
            }
        }
    }
}

#home_page {
    .card-submain {
        height: calc(100vh - (50px + (2 * $s3) + 20px + (2 * $s3) + 26px + (2 * $s5))) !important;
    }

    .container01 {
        @include breakpoint-xl-up {
            width: 49.3%;
            margin-right: 0.35%;
        }

        @include breakpoint-xl {
            width: 100%;
            margin-right: 0%;
            margin-bottom: $s3;
        }
    }

    .container02 {
        @include breakpoint-xl-up {
            width: 49.3%;
            margin-left: 0.35%;
        }

        @include breakpoint-xl {
            width: 100%;
            margin-left: 0%;
        }
    }


    .h-card {
        width: 100%;
        height: 662px;
        // border: 1px solid red;
        // height: calc(100vh - (50px + (2 * $s3) + 75px + (2 * $s3) + 26px + (2 * $s5))) !important;

        #home_calendar {
            height: calc(662px - (2 * $s3)) !important;
        }
    }

    .h-card-2 {
        // border: 1px solid red;
        height: 323px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        // height: calc(100vh - (2 * (50px + (5 * $s3) + 75px + 26px + (2 * $s5)))) !important;
    }

    .h-card-3 {
        // padding-left: $s1;
        padding-right: $s3;
        // border: 1px solid red;
        height: 323px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        // height: calc(100vh - (2 * (50px + (2 * $s3) + 83px + (2 * $s3) + 26px + (2 * $s5)))) !important;
    }
}

#viewallcontracts_page {
    #viewallcontracts-03_div {

        .calendar-card {
            width: 100%;
            height: 680px !important;
            // border: 1px solid red;
            // height: calc(100vh - (50px + (2 * $s3) + 75px + (2 * $s3) + 26px + (2 * $s5))) !important;

            #allcontracts_calendar {
                height: inherit !important;

                .toastui-calendar-layout {
                    height: 100% !important;

                    .toastui-calendar-time {
                        height: 410px !important;
                    }
                }
            }
        }

        
            // height: 700px !important;
            // height: calc(100vh - (50px + (2 * $s3) + 20px + (2 * $s3) + 26px + (2 * $s5))) !important;
    
            // * {
            //     border: 1px solid red;
            // }
        
    }
}

#main_page {
    .card-submain {
        height: calc(100vh - (50px + (2 * $s3) + 20px + (2 * $s3) + 26px + (2 * $s5))) !important;
    }
}

#contract_page {
    .card-submain {
        height: calc(100vh - (50px + (2 * $s5) + $s3 + 14px + (18 * $s3))) !important;
        overflow: hidden;
    }
}

#onlinefair_page {
    .profile-lists {
        // a {
        //     &:last-of-type() {
        //         padding-right: 1.5rem !important;
        //     }
        // }
    }
}

#fairmanagement_page {
    .complex-div {
        ul {
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                flex-wrap: nowrap;
                cursor: pointer;
                padding-top: $s1;
                padding-bottom: $s1;

                &:hover {
                    color: $primary !important;
                }
            }
        }
    }

    .partcons {
        min-height: calc(180px - ((4 * $s2) +  (2 * $s3) + 21px));
        overflow-y: auto;
        overflow-x: hidden;

        div {
            ul {
                display: flex !important;
                justify-content: flex-start;
                align-items: start;
                flex-direction: row;
                flex-wrap: wrap;
                
                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: wrap;
                    cursor: pointer;
                    padding-top: $s1;
                    padding-bottom: $s1;
                    font-size: 10px !important;
                    // margin-left: $s2;
                    margin-right: $s2;
                    margin-bottom: $s2;
                    
                    p {
                        font-size: 10px !important;
                    }

                    i {
                        margin-left: $s3;
                        font-size: 12px !important;
                    }
                }
            }
        }
    }

    .contname {
        min-height: calc(180px - ((4 * $s2) +  (2 * $s3) + 21px));
        overflow-y: auto;
        overflow-x: hidden;

        div {
            ul {
                display: block !important;
                
                li {
                    // border: 1px solid red;
                    cursor: pointer;
                    // padding-top: $s1;
                    padding-bottom: $s1;
                    font-weight: 500;
                    font-size: 13px !important;
                    // margin-left: $s2;
                    margin-right: $s2;
                    margin-bottom: $s2;;
                }
            }
        }
    }
}

#technicianmanagement_page {
    .card-main {
        min-height: calc(100vh - 50px) !important;
        background: $white !important;
        z-index: 101;

        @include breakpoint-xl-up {
            border-top-left-radius: $s4;
            border-top-right-radius: $s4;
            border-bottom-right-radius: $s4;
            // min-height: calc(100vh - 50px) !important;
        }

        @include breakpoint-xl {
            border-top-left-radius: $s4;
            border-top-right-radius: $s4;
            border-bottom-right-radius: 0;
            // min-height: calc(100vh - 50px - 250px) !important;
        }

        .top-row-card {
            // height: calc(100vh - (50px + $s4 + (50 * $s2) + (3 * 0.375rem)));
        }
    }

    .card-main1 {
        height: 4px;
        z-index: 102;
        background-color: $white;

        @include breakpoint-xl-up {
            display: none;
        }
        
        @include breakpoint-xl {
            display: flex;
        }
    }

    .card-main2 {
        z-index: 101;
        // max-height: calc(100vh - 50px) !important;
        // background: $white !important;
        // background: $white !important;
        // padding: $s3;
        // display: flex;
        // justify-content: start !important;
        // align-items: center !important;
        // flex-direction: column !important;

        @include breakpoint-xl-up {
            background: $transparent !important;
        }

        @include breakpoint-xl { 
            padding: $s4;
            border-bottom-right-radius: $s4;
            background: $white !important;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        }
        
        .card-main2-content {

            .row {
                // @include breakpoint-lg-up {
                    overflow-y: auto;
                    overflow-x: hidden;
                    max-height: calc(100vh - (50px + (2 * $s2) + (1 * $s4)) ) !important;
                // }
            }

            @include breakpoint-xl-up {
                border-radius: $s4 !important;
                padding: $s4 !important;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
                background: $white !important;
            }
            
            @include breakpoint-xl { 
                background: $transparent !important;
                box-shadow: none !important;
            }
        }
    }
    
}

#filemanagement_page {
    .complex-div {
        ul {
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                flex-wrap: nowrap;
                cursor: pointer;
                padding-top: $s1;
                padding-bottom: $s1;

                &:hover {
                    color: $primary !important;
                }
            }
        }
    }

    
}

#consulting_page {
    .counselling {
        min-height: calc(100vh - (50px + (2 * $s3) + 20px + (2 * $s3) + 26px + (1.5 * $s5))) !important;
        max-height: calc(100vh - (50px + (2 * $s3) + 20px + (2 * $s3) + 26px + (1.5 * $s5))) !important;
        border-color: $gray-800;

        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden !important;

        .counselling-left{
            min-width: 250px;
            border-right: 1px solid $gray-800;
            max-height: calc(100vh - (50px + (2 * $s3) + 20px + (2 * $s3) + 26px + (1.5 * $s5) + 1px)) !important;
            min-height: calc(100vh - (50px + (2 * $s3) + 20px + (2 * $s3) + 26px + (1.5 * $s5) + 1px)) !important;

            .counselling-left_top {
                height: 100px;
                border-bottom: 1px solid $gray-800 !important;
                vertical-align: middle;
                display: flex;
                justify-content: space-around;
                align-items: end;
                flex-direction: row;
                flex-wrap: nowrap;
                padding-bottom: $s3;
            }

            .counselling-left_bot {
                overflow-y: auto;
                overflow-x: hidden;
                height: calc(100vh - (50px + (2 * $s3) + 20px + (2 * $s3) + 26px + (1.5 * $s5) + 101px)) !important;

                .chats {
                    border-bottom: 1px solid $gray-800;

                    // &:first-of-type {
                    //     border-bottom: 1px solid $gray-800 !important;
                    // }

                    &:not(:first-of-type) {
                        border-bottom: 1px solid $gray-800 !important;
                    }

                    &:last-of-type {
                        border-bottom: 0px solid $gray-800 !important;
                    }

                    &:hover, &.active {
                        background-color: $gray-100;
                    }

                }
            }
        }

        .counselling-right{
            max-height: calc(100vh - (50px + (2 * $s3) + 20px + (2 * $s3) + 26px + (1.5 * $s5))) !important;
            min-height: calc(100vh - (50px + (2 * $s3) + 20px + (2 * $s3) + 26px + (1.5 * $s5))) !important;
            width: 100%;

            .counselling-right_top {
                height: 100px;
                border-bottom: 1px solid $gray-800 !important;
                vertical-align: middle;

                .counselling-right_top-content {
                    height: 100px;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: nowrap;
                }
            }

            .counselling-right_bot {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;

                .messagelist {
                    flex-grow: 2;
                    max-height: calc(100vh - (50px + (2 * $s3) + 42px + (2 * $s3) + 13px + (5 * $s5))) !important;
                    min-height: calc(100vh - (50px + (2 * $s3) + 42px + (2 * $s3) + 13px + (5 * $s5))) !important;
                    padding: $s3;
                    overflow-x: hidden !important;
                    overflow-y: auto !important;

                    width: 100%;
                    display: block;

                    .mgssend {
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;
                        margin-bottom: $s2;

                        .mgssend-content {
                            max-width: 50%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-end;
                            

                            .mgssend-time {
                                text-align: right;
                                padding: 0 $s2;
                                font-size: 12px;
                            }

                            .mgssend-mgs {
                                background-color: $blueGray-200;
                                color: $dark;
                                padding: $s3 $s4;
                                border-radius: $s4;
                                width: auto !important;
                                word-wrap: break-word !important;
                                margin-right: $s2;
                            }
                        }
                    }

                    .mgsread {
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        margin-bottom: $s2;


                        .mgsread-content {
                            max-width: 50%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-end;

                            .mgsread-mgs {
                                border-radius: $s4;
                                background-color: $transparent;
                                border: 1px solid $gray-300;
                                color: $dark;
                                padding: $s3 $s4;
                                width: auto;
                                word-wrap: break-word;
                                margin-left: $s2;
                            }

                            .mgsread-time {
                                text-align: left;
                                padding: 0 $s2;
                                // font-weight: lighter;
                                font-size: 12px;
                            }
                        }

                    }
                }

                .messageform {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top: 1px solid $gray-800;

                    max-height: 76px !important;
                    height: 76px !important;
                    // border: 1px solid red;
                    padding: auto $s4;
                    

                    form {
                        // border: 1px solid red;
                        max-height: 76px !important;
                        height: 76px !important;
                        padding: 0 $s4;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}

#master_page {
    .card-main {
        min-height: calc(100vh - 50px) !important;
        background: $white !important;
        z-index: 101;

        @include breakpoint-xl-up {
            border-top-left-radius: $s4;
            border-top-right-radius: $s4;
            border-bottom-right-radius: $s4;
            // min-height: calc(100vh - 50px) !important;
        }

        @include breakpoint-xl {
            border-top-left-radius: $s4;
            border-top-right-radius: $s4;
            border-bottom-right-radius: 0;
            // min-height: calc(100vh - 50px - 250px) !important;
        }
    }

    .card-main1 {
        height: 4px;
        z-index: 102;
        background-color: $white;

        @include breakpoint-xl-up {
            display: none;
        }
        
        @include breakpoint-xl {
            display: flex;
        }
    }

    .card-main2 {
        z-index: 101;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;

        @include breakpoint-xl-up {
            background: $transparent !important;
        }

        @include breakpoint-xl { 
            border-bottom-right-radius: $s4;
            background: $white !important;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        }
        
        .card-main2-content {
            @include breakpoint-xl-up {
                border-radius: $s4 !important;
                padding: $s5 !important;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
                background: $white !important;
            }
            
            @include breakpoint-xl { 
                background: $transparent !important;
                box-shadow: none !important;
            }
        }
    }
    
}

#superadmin_page {
    // .card-submain {
    //     min-height: calc(100vh - (60px + (2 * $s5) + (4 * $s2 + $s4)));
    //     height: auto;
    // }
}