.textarea-1 {
  min-height: 1rem !important;
}

.textarea-2 {
  min-height: 2rem !important;
}

.textarea-3 {
  min-height: 3rem !important;
}

.textarea-4 {
  min-height: 4rem !important;
}

.textarea-5 {
  min-height: 5rem !important;
}

.textarea-6 {
  min-height: 6rem !important;
}

.textarea-7 {
  min-height: 7rem !important;
}

.resize-none {
  resize: none;
}

